.skills-container {
    background-color: #f5f5f7;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 174px;

    .skill-grid {
        align-self: center;
        margin-right: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 58px;

        .skill-grid-first-row {
            align-self: center;
        }

        .skill-grid-second-row,
        .skill-grid-third-row {
            display: flex;
            gap: 18px;
            margin-top: 18px;
        }

        .skill-grid-third-row {
            align-self: center;
        }
    }
}