.contact-container {
    background-color: #f5f5f7;
    width: 100vw;
    min-height: 150vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        max-width: 750px;
        font-size: 84px;
        text-align: center;
    }

    h1,
    h3 {
        margin-left: 0;
    }

    h3 {
        padding-top: 150px;
    }

    p,
    .contact-data {
    }

    p {
        margin-top: 45px;
        color: #333333bf;
        font-size: 16px;
        max-width: 720px;
        font-family: "Inter", sans-serif;
        letter-spacing: -0.025em;
    }

    .contact-data {
        display: flex;
        gap: 18px;

        .contact-form {

        }
    }
}