.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
img,
p,
div {

  &:hover {
    cursor: none;
  }
}

// Color mode settings

// light mode

.light-bg-1 {
  background-color: white;
}

.light-bg-2 {
  background-color: #f5f5f7;
}

.light-eyebrow {
  color: #1d1d1f;
  opacity: 0.75;
}

.light-heading {
  color: #1d1d1f;
}

.light-phrase {
  color: #333333bf;
}

.light-nav {
  background-color: rgba(255, 255, 255, 0.5);
}

.light-anchor {
  color: #333333;

  &:hover {
    color: #0064FF;
    font-size: 18px;
  }
}

// dark mode

.dark-bg-1 {
  background-color: #1d1d1f !important;
}

.dark-bg-2 {
  background-color: black;
}

.dark-heading {
  color: white;
}

.dark-eyebrow {
  color: #f5f5f7;
}

.white {
  color: white;
}

.white-opacity {
  color: rgb(207, 207, 207);
}

.white-opacity-max {
  color: rgb(177, 177, 177);
}

.dark-nav {
  background-color: rgba(255, 255, 255, 0.151);
}

.dark-anchor {
  color: white;

  &:hover {
    color: #30a2ff;
    font-size: 18px;
  }
}