.container-aboutme {
    position: relative;
    padding-bottom: 140px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .start {
        align-self: flex-start;
    }
}

#about-me {
    position: absolute;
    top: 60px;
}

.eyebrow {
    padding-top: 143px;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: -0.025em;
    font-family: "Inter", sans-serif;
    margin-bottom: 12px;
    margin-left: 470px;
}

.heading {
    font-size: 92px;
    font-family: "Inter", sans-serif;
    max-width: 750px;
    letter-spacing: -0.045em;
    line-height: 1.1;
    margin-left: 466px;
    font-weight: 600;
}